.header1 .navbar{
    display: flex;
    justify-content: center;
}
.header1 img{
    width: 78px;
    height: 70px;
}
.header1  p{
    margin: 22px 0 10px 10px;
    font-size: 21px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header1 .icons{
position: absolute;
right:8%;
font-size: 18px;
margin-top: 25px;
}
.header2{
    background-color: #f6630f;
}
.header2 .navItem .navLink{
    color: rgb(255, 255, 255);
}
.header2 .navItem .active{
    color: white;
}
.header2 .collapse{
    display: flex;
    justify-content: center;
}
.header2 .dropdownMenu li{
    color: black;
}
.header2 .navItem{
    margin: 0 10px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

